<html>
    <head></head>
    <body>
        <form>
            <p>Enter what you want to enconde</p>
            <input type='text' name='user_input'/>
            <p>Enter the shift factor</p>
            <input type='text' name='shift_factor'/>
            <br><input type='submit' value='Encode' />
        </form>

        <p> <%= encoded_input %></p>
    </body>
</html>